
mat-card {
    text-align: center;
    margin: 20px 0;
    padding: 0;
    color: rgb(238, 227, 227);
    background-color: #888;
    img {
     // max-height: 90vh;
        max-width: 100vw;
    }
}
