
<h1>Simon Wolfson Photograph</h1>

<a routerLink=''>Home</a>
<a routerLink='events'>Events</a>
<a routerLink='contact'>Contact me</a>


<mat-card *ngFor="let event of events">
    <mat-card-title>{{event.heading}}</mat-card-title>
    <mat-card-subtitle>{{event.summary}}</mat-card-subtitle>
    <img  mat-card-image [src]="'http://localhost:1337/' + event.mainPhoto.url">
</mat-card>
{{gallery}}
<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let image of gallery">
        <img [src]="'http://localhost:1337/' + image">
    </mat-grid-tile>
</mat-grid-list>